* {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Josefin Sans', sans-serif}

body 
{
    width: 100%;
    height: auto;
    background: linear-gradient(85.02deg, #00894F 0%, #2EA8EC 50.31%, #0053B5 100%);
    overflow: auto;
}

.fondo-imagen header
{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 191px;
}

.fondo-imagen 
{
    background: url(../img/tecsup-lima.jpg);
    background-size: cover;
    width: 100%;
    height: 530px;
}

.fondo-imagen header div h1 
{
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    padding-right: 50px;
}

.fondo-imagen header a .logo-proyecto 
{
    width: 200px;
    height: auto;
}

footer .logo-tecsup
{
    width: auto;
    height: 120px;
}

.fondo-imagen .cuerpo 
{
    position: relative;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

.fondo-imagen .cuerpo .loginBox
{
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background: linear-gradient(180deg, rgba(2, 58, 255, 0.95) 0%, rgba(39, 74, 197, 0) 100%);
    border-radius: 10px;
}

.fondo-imagen .cuerpo .loginBox .fondo-titulo  
{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) -1.53%, rgba(255, 255, 255, 0.24) 101.22%);
    border-radius: 5px
}

.fondo-imagen .cuerpo .loginBox .fondo-titulo .titulo
{
    padding: 8px;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

.fondo-imagen .cuerpo .loginBox .instrucciones 
{
    width: 500px;
    height: auto;
    display: flex;
    justify-content: start;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    color: #fff;
}

.fondo-imagen .cuerpo .loginBox form
{
    width: 500px;
    height: auto;
    display: flex;
    margin-top: 10px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox  
{
    width: 100%;
    height: 230px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .inputLine1
{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 40px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .inputLine2
{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 40px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox div .textInput
{
    color: #D9D9D9;
    font-size: 18px;
    font-weight: 900;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox div .input
{
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding-left: 15px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .btn 
{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .btn a .btn-in
{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #cacaca;
    background: rgba(38, 85, 255, 1);
    font-size: 20px;
    font-weight: 700;
    transition: .1s;
    cursor: pointer;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .btn a .btn-in:hover
{
    background: #1E3FB5;
    border: 2px solid #FFFFFF;
    color: #fff;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .forgot
{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .forgot a
{
    text-decoration: none;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .forgot a .text-forgot
{
    cursor: pointer;
    color: #cacaca;
    font-size: 18px;
    font-weight: 700;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .forgot a .text-forgot:hover
{
    color: #ffffff;
}






@media screen and (max-width: 768px) {
    * {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Josefin Sans', sans-serif}

body 
{
    width: 100%;
    height: auto;
    background: linear-gradient(85.02deg, #00894F 0%, #2EA8EC 50.31%, #0053B5 100%);
    overflow: auto;
}

.fondo-imagen header
{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
}

.fondo-imagen 
{
    background: url(../img/tecsup-lima.jpg);
    background-size: cover;
    width: 100%;
    height: 550px;
}

.fondo-imagen header div h1 
{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 7px;
    width: 200px;
}

.fondo-imagen header a .logo-proyecto 
{
    width: 150px;
    height: auto;
    padding-left: 12px;
    padding-top: 7px;
}

footer .logo-tecsup
{
    width: auto;
    height: 90px;
}

.fondo-imagen .cuerpo 
{
    position: relative;
    justify-content: center;
    display: flex;
    padding-top: 35px;
}

.fondo-imagen .cuerpo .loginBox
{
    width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background: linear-gradient(180deg, rgba(2, 58, 255, 0.95) 0%, rgba(39, 74, 197, 0) 100%);
    border-radius: 10px;
}

.fondo-imagen .cuerpo .loginBox .fondo-titulo  
{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) -1.53%, rgba(255, 255, 255, 0.24) 101.22%);
    border-radius: 5px
}

.fondo-imagen .cuerpo .loginBox .fondo-titulo .titulo
{
    padding: 8px;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

.fondo-imagen .cuerpo .loginBox .instrucciones 
{
    width: 310px;
    height: auto;
    display: flex;
    justify-content: start;
    font-size: 21px;
    font-weight: 300;
    margin-top: 15px;
    color: #fff;
}

.fondo-imagen .cuerpo .loginBox form
{
    width: 340px;
    height: auto;
    display: flex;
    margin-top: 15px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox  
{
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 20px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .inputLine1
{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 40px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .inputLine2
{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 40px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox div .textInput
{
    color: #D9D9D9;
    font-size: 18px;
    font-weight: 900;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox div .input
{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding-left: 50px;
    margin-bottom: 35px;
    margin-right: -15px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .btn 
{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    text-decoration: none;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .btn a .btn-in
{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;
    color: #cacaca;
    background: rgba(38, 85, 255, 1);
    font-size: 18px;
    font-weight: 700;
    transition: .1s;
    cursor: pointer;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .btn a .btn-in:hover
{
    background: #1E3FB5;
    border: 2px solid #FFFFFF;
    color: #fff;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .forgot
{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .forgot a
{
    text-decoration: none;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .forgot a .text-forgot
{
    cursor: pointer;
    color: #cacaca;
    font-size: 15px;
    font-weight: 700;
}

.fondo-imagen .cuerpo .loginBox form .shadowBox .forgot a .text-forgot:hover
{
    color: #ffffff;
}

}